#page {
    height: 100vh;
}

#page > * {
    width: 50%;
}

.flex {
    display: flex;

    .content_wrapper {
        padding: 4rem 11.2rem;

        header {
            img {
                width: 16rem;
                height: 5.4rem;
                object-fit: contain;
            }
        }

        main {
            margin-top: 11.4rem;

            .head_line {
                max-width: 35rem;

                h1 {
                    line-height: 55px;

                    & + p {
                        color: #475569;
                        margin-top: 1.6rem;
                    }
                }
            }

            form {
                margin-top: 4rem;

                .input_wrapper {
                    position: relative;

                    label {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 21px;
                        color: #29292e;
                    }

                    input {
                        width: 100%;
                        border: 0.1rem solid #e2e8f0;
                        border-radius: 0.4rem;

                        padding:1.6rem 1.2rem;
                        margin-top: 0.8rem;

                        background: none;

                        &::placeholder {
                            color: #94a3b8;
                        }

                        &:focus,
                        &:hover {
                            border: 1px solid #00688C;
                            outline: none;
                        }
                    }

                    .eye {
                        position: absolute;

                        top: 57%;
                        right: 5%;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .hide {
                        display: none;
                    }

                    & + .input_wrapper {
                        margin-top: 1.6rem;

                        .label_wrapper {
                            display: flex;
                            justify-content: space-between;

                            a{
                                text-decoration: none;
                                color: #00688C;
                                line-height: 21px;
                                
                                &:hover {
                                    color: #0085b2;
                                }
                            }
                        }
                    }
                }

                button {
                    all: unset;
                    box-sizing: border-box;

                    display: flex;
                    justify-content: center; 
                    align-items: center;
                    padding: 1.6rem 2.4rem;

                    background: #00688C;
                    border-radius: 0.4rem;

                    width: 100%;

                    font-weight: bold;
                    color: #fff;

                    margin-block: 3.2rem;

                    transition: background 0.2s;
                }

                button:hover {
                    background: #0085b2;
                    cursor: pointer;
                }
                 
                button:focus {
                    outline: 2px solid #29292e;
                    border-radius: 0.2rem;
                }

                
                .create_account {
                    a {
                        text-decoration: none;
                        color: #00688C;
                        font-weight: 700;

                        
                        transition: color 0.2s;

                        &:hover {
                            color: #0085b2;
                        }
                    }
                }
            }
        }
    }

    .bg_login {
        width: 100%;
        object-fit: cover;
    }
}