.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 90px);

    main {
        width: 70%;
        height: 80vh;
        overflow-y: auto;

        .table_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            padding: 1.5rem 1rem 0.5rem 1rem;

            border-bottom: 2px solid #e2e2e2;

           h1 {
                font-weight: 700;
                color: #6B7494;
            }

            button {
                padding: 1rem 1.5rem;

                border: 1px solid #4C825C;
                background: none;

                border-radius: 0.5rem;

                color: #4c825c;
                font-weight: 500;

                transition: 0.2s;

                &:hover {
                    background: #4c825c;
                    color: #f8f8f8;
                    cursor: pointer;
                }
            }
        }

        table {
            margin-top: 1rem;
            width: 100%;
            border-collapse: collapse;

            tbody {
                tr {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;

                    justify-content: center;
                    width: 100%;
                    border-bottom: 1px solid #e2e2e2;

                    td {
                        padding: 1rem;
                        text-align: center;
                    }
                }
            }

        }
    }
}